* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.background {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: url('/assets/images/hero.jpg')
}

.startquiz_btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.startquiz_btn button {
    font-weight: bold;
    font-size: 20px;
    padding: 4px;
    color: black;
    border-color: #6C3922;
    background-color: hsl(199, 44%, 60%);
    border-radius: 5px;

}

.startquiz_btn button:hover {
    
    background-color: #A6704E;
}



h3 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    color: black;
    top:30px;
    padding: 4px;
    background-color:hsl(199, 44%, 60%);

}

h3:before,
h3:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 48%;
    height: 6px;
    content: '\a0';
    background-color: #6C3922;
    /* change color if needed*/
    margin-left: 2%;
}

h3:before {
    margin-left: -50%;
    text-align: right;
}

.myfooter {
    text-align: center;
    background-color: #90BED4;
    font-size: bold;
    bottom: 0;
    position: fixed;
    width: 100%;
    
  


}
.rules{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    height: 50%;
    border: 2px double #6C3922 ;
    z-index: 2;
    width: 600px;
    background:#1A5D84;
    border-radius: 15%;
    transform: translate(-50%,-50%) scale(0.9);
    /* pointer-events: none; */
    transition: all 0.3s ease;
    box-shadow: 10px 25px 20px #6C3922;

}
.rule-head{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.rule{
    margin-bottom:10px;
    text-align: justify;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position:relative;
    color: white;
    padding-right: 2px;
    letter-spacing: -0.5px;
   
}
.rulesbuttons{
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    left:50%;
    transform: translateX(-50%);
}
.rulesbuttons button{
    padding: 10px 10px;
    margin:0 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #A6704E;
    cursor: pointer;

}

.rulesbuttons button:hover{
    background-color: #6C3922;
    color: white;
}

.userName{
    margin-bottom: 30px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
.userName input[type="text"]{
    padding: 5px;
    font-size: 20px;
}
   

.userName input[type="text"]:focus{
    outline: none;
    border-color: #6C3922;
}
.quiz-question-container{
    display: none;
}
.quiz-question-container{
    background-color: #f9f9f9;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightblue;
    border-radius: 25px;
    padding: 30px;
    margin: 10px auto;
    display:none; 
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}   